[submodule "inference"]
	path = src/inference
	url = https://github.com/Luo1imasi/inference.git
[submodule "motors"]
	path = src/motors
	url = https://github.com/shimaken-git/motors.git
	# url = https://github.com/Luo1imasi/motors.git
[submodule "imu"]
	path = src/imu
	url = https://github.com/Luo1imasi/imu.git
[submodule "create_ap"]
	path = tools/create_ap
	url = https://github.com/Luo1imasi/create_ap.git
